@model ApplicationJobVM

<p> Add CV </p>
<form method= "post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="border p-3 mt-4">
			<label asp-for="applicationjob.Job"></label>
			<select asp-for="applicationjob.JobID" asp-items="@Model.Job"></select>
		</div>
		<div class="mb-3 row">
			<label asp-for="applicationjob.Description"></label>
			<input asp-for="applicationjob.Description" />
			<span asp-validation-for="applicationjob.Description" class="text-danger"></span>
		</div>
		<div class="border p-3 mt-4">
			<label asp-for="applicationjob.CV"></label>
			<input type="file" name="file" class="form-control"/>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
		<a asp-controller="ApplicationJob" asp-action="Index" class="btn btn-primary">Back</a>
	</div>
</form>
