@model JobMV
<p>CREATE NEW JOB</p>
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<input asp-for="Job.ID" hidden />
		<div class="mb-3 row">
			<label asp-for="Job.Name"></label>
			<input asp-for="Job.Name" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.TimeWork"></label>
			<select asp-for="Job.TimeWork" asp-items="@Model.TimeWork"></select>
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Company"></label>
			<input asp-for="Job.Company" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Salary"></label>
			<input asp-for="Job.Salary" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Description"></label>
			<input asp-for="Job.Description" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Request"></label>
			<input asp-for="Job.Request" />
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-controller="Administrator" asp-action="Index" class="btn btn-primary">Back</a>
	</div>
</form>